/* Make the page fill the screen */
.app-container {
  width: 412px;
  height: 100vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 1;
  padding-top: 50px;
}

/* Content styling */
.content {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto;
}

:root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5dadd;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1003; /* Increased from -1 */
  justify-content: center;
}

.img_gate {
  position: absolute;
  z-index: 5;
  height: 579px;
  width: 481px;
  top: 5%;
  transform: translateX(-50%);
}

.img_mountain {
  position: absolute;
  z-index: 2;
  height: 522px;
  width: 782px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.img_janur {
  position: absolute;
  z-index: 6;
  height: 404px;
  width: 397px;
  top: 14%;
  transform: translateX(-50%);
}

.img_logo {
  position: absolute;
  z-index: 1000;
  height: 34px;
  width: 32px;
  top: 16.5%;
  transform: translateX(-50%);
}

.img_opened {
  position: absolute;
  z-index: 5;
  height: 330px;
  width: 227px;
  top: 35%;
  transform: translateX(-50%);
}

.bunga_kiri {
  z-index: 6;
}

.img_bunga3 {
  position: absolute;
  z-index: 3;
  height: 313px;
  width: 180px;
  top: 40%;
  left: 0%;
  transform: translateX(-50%);
}

.img_bunga2 {
  position: absolute;
  z-index: 4;
  height: 244px;
  width: 180px;
  top: 52%;
  left: 0%;
  transform: translateX(-50%);
}

.img_bunga4 {
  position: absolute;
  z-index: 4;
  height: 242px;
  width: 137px;
  top: 58%;
  left: 0%;
  transform: translateX(-50%);
}

.img_bunga1 {
  position: absolute;
  z-index: 5;
  height: 111px;
  width: 85px;
  top: 72%;
  left: 0%;
  transform: translateX(-50%);
}

.bunga_kanan {
  z-index: 6;
}

.img_bungapink_kanan {
  position: absolute;
  z-index: 3;
  height: 347px;
  width: 200px;
  top: 40%;
  right: -10%;
}

.img_pohonijo_kanan {
  position: absolute;
  z-index: 4;
  height: 244px;
  width: 180px;
  top: 52%;
  right: -10%;
}

.img_padikapas_kanan {
  position: absolute;
  z-index: 5;
  height: 244px;
  width: 137px;
  top: 58%;
  right: 0%;
}

.img_tanaman_kanan {
  position: absolute;
  z-index: 5;
  height: 122px;
  width: 77px;
  top: 72%;
  right: 10%;
}

.img_bungabawah_kanan {
  position: absolute;
  z-index: 5;
  height: 111px;
  width: 82px;
  top: 72%;
  right: 0%;
}

.img_merak {
  position: absolute;
  z-index: 6;
  height: 159px;
  width: 212px;
  top: 68%;
  left: 10%;
}

.img_kupu2 {
  position: absolute;
  z-index: 5;
  height: 48px;
  width: 61px;
  top: 40%;
  left: 10%;
  z-index: 7;
}

.img_kupu1 {
  position: absolute;
  z-index: 5;
  height: 61px;
  width: 59px;
  top: 50%;
  z-index: 7;
  right: 20%;
}

.title {
  position: absolute;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  z-index: 1000;
  top: 27%;
  color: #513738;
}

.title-opened {
  position: absolute;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  z-index: 1000;
  top: 28%;
  color: #513738;
}
.title-theweddingof-opened {
  position: absolute;
  font-family: "Wittgenstein";
  font-style: initial;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  top: 25%;
  color: #513738;
}

.guest-name {
  position: absolute;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  z-index: 1000;
  top: 27%;
  color: #513738;
}

.open-invite-btn {
  position: absolute;
  bottom: 40px;
  top: 63%;
  width: 200px;
  height: 40px;
  font-family: "Wittgenstein";
  background-color: #4f0a1c;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  z-index: 10;
}
.second_page {
  width: 412px;
  height: 586px; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/bg_second.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 2;
}

.center_second_page {
  width: 306px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wayang_background {
  position: absolute;
  width: 306px;
  height: 420px;
  opacity: 30%;
}

.gapura_background {
  position: absolute;
  opacity: 30%;
  width: 306px;
  height: 420px;
}

.tanaman_kiri {
  position: absolute;
  z-index: 5;
  height: 210px;
  width: 113px;
  top: 40%;
  left: 10%;
  transform: translateX(-50%);
}

.bungabawah_kiri {
  position: absolute;
  z-index: 6;
  height: 232px;
  width: 187px;
  top: 60%;
  left: 18%;
  transform: translateX(-50%);
}

.wayang_kiri {
  position: absolute;
  z-index: 7;
  height: 151px;
  width: 122px;
  top: 60%;
  left: 8%;
  transform: translateX(-50%);
}

.tanaman_kanan {
  position: absolute;
  z-index: 5;
  height: 210px;
  width: 113px;
  top: 40%;
  right: 10%; /* bukan -18% */
  /* hapus transform */
  /* transform: translateX(-50%); */
}

.bungabawah_kanan {
  position: absolute;
  z-index: 6;
  height: 232px;
  width: 187px;
  top: 60%;
  right: 18%; /* bukan -25% */
  /* hapus transform */
  /* transform: translateX(-50%); */
}

.wayang_kanan {
  position: absolute;
  z-index: 7;
  height: 151px;
  width: 122px;
  top: 60%;
  right: 8%; /* bukan -22% */
  /* hapus transform */
  /* transform: translateX(-50%); */
}

.doa {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  color: #79565b;
  text-align: center;
  width: 240px;
  top: 45%;
  z-index: 99;
}

.burung {
  z-index: 107;
  position: absolute;
  width: 223px;
  height: 129px;
  top: 10%;
  left: 10%;
}

.background_sec {
  width: 412px;
  height: 586px; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 1;
}

.background_third {
  width: 412px;
  height: 1800px; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.background_cpp {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}

.image_bg_lingkaran {
  width: 480px;
  height: 642px;
  position: absolute;
}

.image_frame_lingkaran {
  width: 324px;
  height: 494px;
  position: absolute;
  z-index: 3;
}

.txt_wedding_of {
  margin-top: 32px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
}

.cpp_photo {
  width: 231px;
  height: 322px;
  position: absolute;
  z-index: 2;
  margin-top: 90px;
}

.wayang {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 300px;
}

.wayang_left {
  width: 117px;
  height: 179px;
}

.wayang_right {
  width: 117px;
  height: 179px;
}

.name {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  margin: 0;
  line-height: 1;
}

.title_name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  color: #623b48;
  margin: 0;
  text-align: center;
}

.instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instagram_logo {
  width: 30px;
  height: 30px;
}

h3 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #623b48;
  margin: 0;
  text-align: center;
}

.background_cpw {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
  margin-top: 20px;
}

.background_fourth {
  width: 412px;
  height: 1200px; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  padding-top: 36px;
}

.desc_text_time {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  color: #79565b;
  text-align: center;
  z-index: 99;
  line-height: 1;
  width: 300px;
  font-style: italic;
}

.txt_title {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  text-align: center;
  line-height: 1;
  margin: 0;
}

.background_time {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
  margin-top: 20px;
}

.image_bg_time {
  width: 420px;
  height: 411px;
  position: absolute;
  z-index: 4;
}

.image_frame_time {
  width: 276px;
  height: 459px;
  position: absolute;
  z-index: 3;
}

.time {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  margin-top: 120px;
}

.count {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  text-align: center;
  line-height: 1;
  margin: 0;
}

.count_time {
  font-family: "Italianno", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  color: #623b48;
  text-align: center;
  line-height: 1;
  margin: 0;
  margin-bottom: 250px;
}

.gate_time {
  width: 481px;
  height: 579px;
  position: absolute;
  left: -30px;
  right: 20px;
  z-index: 1;
}

.akad_frame {
  display: flex;
}

.left_time {
  width: 150px;
  height: 491px;
  z-index: 2;
  margin-top: 200px;
  left: -40px;
  position: absolute;
}

.right_time {
  width: 143px;
  height: 462px;
  z-index: 2;
  margin-top: 200px;
  position: absolute;
  right: -20px;
}

.akad_frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data_time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: absolute;
}

.logo_time {
  width: 80px;
  height: 80px;
}

.time_title {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  line-height: 1;
  margin: 0;
}

.time_time {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #623b48;
  line-height: 1;
  margin: 0;
  margin-top: 30px;
}

.place_time {
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  color: #623b48;
  line-height: 1;
  margin: 0;
  margin-top: 17px;
  text-align: center;
}

.address_time {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 17px;
  color: #623b48;
  line-height: 1;
  text-align: center;
  margin-top: 17px;
}

.resepsi_frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_fifth {
  width: 412px;
  height: 1000px; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 600px;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.background_qr {
  width: 412px;
  height: 70vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.title_qr {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  margin: 0;
  line-height: 1;
  text-align: center;
}

.qr_code {
  width: 314px;
  height: 314px;
  margin-top: 20px;
}

.desc_qr {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  color: #79565b;
  text-align: center;
  width: 240px;
  z-index: 99;
  margin-top: 20px;
}

.background_story {
  width: 412px;
  height: 85vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.title_story {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: #623b48;
  margin: 0;
  line-height: 1;
  text-align: center;
  margin-top: 100px;
  z-index: 6;
}

.card_bottom {
  width: 360px;
  height: 245px;
  margin-top: 32px;
  background-color: #e9ddbb;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel_story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_card_story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px !important;
  height: 245px;
  border-radius: 25px;
}

.desc_year {
  text-align: center;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #623b48;
  margin: 0;
  line-height: 1;
}

.desc_story {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  color: #79565b;
  text-align: center;
  width: 320px;
  z-index: 99;
}

.bungataskiri {
  position: absolute;
  z-index: 5;
  height: 165px;
  width: 150px;
  left: 0;
}

.bungaataskanan {
  position: absolute;
  z-index: 5;
  height: 165px;
  width: 150px;
  right: 0;
}

.bgstory {
  position: absolute;
  height: 431px;
  width: 412px;
  bottom: 0;
}

.background_potrait {
  width: 412px;
  height: 80vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 1;
  overflow: auto;
}

.carousel .slide img {
  border-radius: 25px;
  width: 25% !important;
  height: 100% !important;
}

.carousel .thumb {
  border: 0 !important;
  border-radius: 25px;
  height: 129px;
  width: 99px;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.carousel .thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.txt_potrait {
  margin-top: 32px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
}

.carousel .control-dots {
  display: none; /* optional: hides dots if you only want thumbnails */
}

.carousel .thumbs-wrapper {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
  width: 100% !important;
}

/* Prevent thumbnails from wrapping */
.carousel .thumbs {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
}

/* Optional: Hide scrollbar */
.carousel .thumbs-wrapper::-webkit-scrollbar {
  display: none;
}
.carousel .thumbs-wrapper {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.background_gift {
  width: 412px;
  height: 70vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  padding-top: 32px;
}

.title_gift {
  margin-top: 32px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
}

.desc_gift {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  color: #79565b;
  text-align: center;
  width: 308px;
  z-index: 99;
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
}

.bank_first {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  width: 275px;
  height: 66px;
  margin-top: 35px;
  background-color: #e9ddbb;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 7px;
  padding-left: 9px;
  padding-right: 9px;
  align-items: center;
}

.bank_second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 66px;
  background-color: #e9ddbb;
  margin-top: 13px;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 7px;
  padding-left: 9px;
  padding-right: 9px;
}

.logo {
  width: 51px;
  height: 36px;
  margin-bottom: 20px;
}

.bank_text {
  font-family: "Cormorant Garamond", serif;
  font-size: 12px;
  color: #79565b;
  text-align: center;
  width: 308px;
  z-index: 99;
  font-weight: bold;
  font-style: italic;
}

.button_copy {
  width: 80px;
  height: 10px;
  background-color: #4f0a1c;
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 7px;
  border-radius: 25px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bunga_gift {
  position: absolute;
  z-index: 7;
  height: 236px;
  width: 85px;
  top: 40%;
  left: 0;
}

.background_filter {
  width: 412px;
  height: 100vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  padding-top: 20px;
}

.title_filter {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  z-index: 3;
}

.desc_filter {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  color: #79565b;
  text-align: center;
  width: 240px;
  z-index: 99;
}

.img_filter {
  width: 294px;
  height: 492px;
  z-index: 3;
}

.filter_button {
  width: 94px;
  height: 22px;
  background-color: #4f0a1c;
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 11px;
  border-radius: 25px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  z-index: 3;
}

.bgfilter {
  position: absolute;
  z-index: 2;
  width: 412px;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 50%;
}

.bungafilter {
  position: absolute;
  z-index: 7;
  height: 176px;
  width: 120px;
  top: 65%;
  right: 0;
}

.background_wish {
  width: 412px;
  height: 100vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  z-index: 1;
}

.title_wish {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  z-index: 3;
  text-align: center;
}

.input_wish {
  width: 275px;
  height: 33px;
  background-color: #fffbf0;
  border-radius: 15px;
  font-size: 24px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  color: #623b48;
  z-index: 3;
  border: 0;
  text-align: center;
}

.button_send {
  width: 275px;
  height: 33px;
  background-color: #e9ddbb;
  border-radius: 15px;
  font-size: 24px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  color: #623b48;
  margin-top: 24px;
  margin-bottom: 31px;
  z-index: 3;
  text-align: center;
  justify-content: center;
  padding-top: 5px;
}

.wish_item {
  width: 275px;
  height: fit-content;
  border: 1px solid black; /* 👈 this sets width, style, and color */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}

.name_wish {
  font-size: 13px;
  font-family: "Cormorant Garamond", serif;
  color: #79565b;
  font-weight: 700;
  z-index: 3;
}

.time_wish {
  font-size: 10px;
  font-family: "Cormorant Garamond", serif;
  color: #79565b;
  font-weight: 400;
  z-index: 3;
}

.wish {
  font-size: 13px;
  font-family: "Cormorant Garamond", serif;
  color: #79565b;
  font-weight: 400;
  z-index: 3;
}

.wish_list {
  height: 500px;
  overflow-y: scroll;
}

.text_finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 100;
  align-items: center;
  margin-bottom: 100px;
}

.title_finish {
  font-size: 11px;
  font-family: "Cormorant Garamond", serif;
  color: #513738;
  font-weight: 500;
  z-index: 100;
  text-align: center;
}

.name_finish {
  font-size: 32px;
  font-family: "Alex Brush", cursive;
  color: #513738;
  font-weight: 500;
  z-index: 100;
  margin-top: 12px;
  text-align: center;
}

.img_logo_finish {
  width: 44px;
  height: 48px;
  margin-top: 12px;
  z-index: 100;
}

.desc_finish {
  font-weight: 11px;
  font-family: "Cormorant Garamond", serif;
  color: #513738;
  font-weight: 700;
  z-index: 100;
  text-align: center;
}

.img_mountain_finish {
  position: absolute;
  z-index: 2;
  height: 522px;
  width: 782px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 50%;
}

.img_bunga3_finish {
  position: absolute;
  z-index: 3;
  height: 313px;
  width: 222px;
  top: 40%;
  left: 20%;
  transform: translateX(-50%);
  opacity: 50%;
}

.img_bungapink_kanan_finish {
  position: absolute;
  z-index: 3;
  height: 347px;
  width: 222px;
  top: 40%;
  right: -10%;
  opacity: 50%;
}
