/* Make the page fill the screen */
.render_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.render_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-container {
  width: 100vw;
  height: 100vh; /* Ensures full screen height */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 1;
  padding-top: 50px;
  overflow: hidden;
}

.app-container-finish {
  width: 100vw;
  height: 100vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 0; /* Untuk menghindari elemen ketutupan nav bar HP */
}
@font-face {
  font-family: "Wittgenstein";
  src: url("/fonts/Wittgenstein.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Content styling */
.content {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto;
}

:root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5dadd;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1003; /* Increased from -1 */
  justify-content: center;
}

.img_gate {
  position: absolute;
  z-index: 5;
  height: 579px;
  width: 481px;
  top: 13%;
  transform: translateX(-50%);
}

.img_mountain {
  position: absolute;
  z-index: 2;
  height: 522px;
  width: 782px;
  top: 15%;
  left: 53%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.img_janur {
  position: absolute;
  z-index: 6;
  height: 404px;
  width: 397px;
  top: 22%;
  transform: translateX(-50%);
}

.img_logo {
  position: absolute;
  z-index: 1000;
  height: 34px;
  width: 32px;
  top: 24.5%;
  transform: translateX(-50%);
}
/* Make lightbox container semi-dark with blur */
.yarl__container {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(2px); /* optional */
}

/* Make carousel background slightly darker if needed */
.yarl__carousel {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.img_opened {
  position: absolute;
  z-index: 6;
  height: 400px;
  width: 280px;
  top: 38%;
  transform: translateX(-50%);
}

.bunga_kiri {
  z-index: 6;
}

.img_bunga3 {
  position: absolute;
  z-index: 3;
  height: 313px;
  width: 180px;
  top: 48%;
  left: 0%;
  transform: translateX(-50%);
}

.img_bunga2 {
  position: absolute;
  z-index: 4;
  height: 244px;
  width: 180px;
  top: 60%;
  left: 0%;
  transform: translateX(-50%);
}

.img_bunga4 {
  position: absolute;
  z-index: 4;
  height: 242px;
  width: 137px;
  top: 66%;
  left: 0%;
  transform: translateX(-50%);
}

.img_bunga1 {
  position: absolute;
  z-index: 5;
  height: 111px;
  width: 85px;
  top: 80%;
  left: 0%;
  transform: translateX(-50%);
}

.bunga_kanan {
  z-index: 6;
}

.img_bungapink_kanan {
  position: absolute;
  z-index: 1;
  height: 347px;
  width: 200px;
  top: 48%;
  right: -10%;
}

.img_pohonijo_kanan {
  position: absolute;
  z-index: 4;
  height: 244px;
  width: 180px;
  top: 60%;
  right: -10%;
}

.img_padikapas_kanan {
  position: absolute;
  z-index: 5;
  height: 244px;
  width: 137px;
  top: 66%;
  right: 0%;
}

.img_tanaman_kanan {
  position: absolute;
  z-index: 5;
  height: 122px;
  width: 77px;
  top: 80%;
  right: 10%;
}

.img_bungabawah_kanan {
  position: absolute;
  z-index: 5;
  height: 111px;
  width: 82px;
  top: 80%;
  right: 0%;
}

.img_merak {
  position: absolute;
  z-index: 7;
  height: 159px;
  width: 212px;
  top: 76%;
  left: 10%;
}

.img_kupu2 {
  position: absolute;
  z-index: 100;
  height: 48px;
  width: 61px;
  top: 48%;
  left: 25%;
  z-index: 7;
}

.img_kupu1 {
  position: absolute;
  z-index: 100;
  height: 61px;
  width: 59px;
  top: 66%;
  z-index: 7;
  right: 20%;
}

.title {
  position: absolute;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  z-index: 1000;
  top: 35%;
  color: #513738;
}

.title-opened {
  position: absolute;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  z-index: 1000;
  top: 34%;
  color: #513738;
}
.title-theweddingof-opened {
  position: absolute;
  font-family: "Wittgenstein";
  font-style: initial;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  top: 31%;
  color: #513738;
}

.invite-wrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* spacing between name and button */
  z-index: 1000;
}

.guest-name {
  font-family: "Wittgenstein";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #513738;
}

.open-invite-btn {
  width: 200px;
  height: 40px;
  font-family: "Wittgenstein";
  background-color: #4f0a1c;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.second_page {
  width: 100vw;
  height: 586px; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/bg_second.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 2;
}

.center_second_page {
  width: 306px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wayang_background {
  position: absolute;
  width: 306px;
  height: 420px;
  opacity: 30%;
}

.gapura_background {
  position: absolute;
  opacity: 30%;
  width: 306px;
  height: 420px;
}

.tanaman_kiri {
  position: absolute;
  z-index: 5;
  height: 210px;
  width: 113px;
  top: 40%;
  left: 10%;
  transform: translateX(-50%);
}

.bungabawah_kiri {
  position: absolute;
  z-index: 6;
  height: 232px;
  width: 187px;
  top: 60%;
  left: 18%;
  transform: translateX(-50%);
}

.wayang_kiri {
  position: absolute;
  z-index: 7;
  height: 151px;
  width: 122px;
  top: 60%;
  left: 8%;
  transform: translateX(-50%);
}

.tanaman_kanan {
  position: absolute;
  z-index: 5;
  height: 210px;
  width: 113px;
  top: 40%;
  right: 10%; /* bukan -18% */
  /* hapus transform */
  /* transform: translateX(-50%); */
}

.bungabawah_kanan {
  position: absolute;
  z-index: 6;
  height: 232px;
  width: 187px;
  top: 60%;
  right: 18%; /* bukan -25% */
  /* hapus transform */
  /* transform: translateX(-50%); */
}

.wayang_kanan {
  position: absolute;
  z-index: 7;
  height: 151px;
  width: 122px;
  top: 60%;
  right: 8%; /* bukan -22% */
  /* hapus transform */
  /* transform: translateX(-50%); */
}

.doa {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  color: #79565b;
  text-align: center;
  width: 240px;
  top: 45%;
  z-index: 99;
}

.burung {
  z-index: 107;
  position: absolute;
  width: 223px;
  height: 129px;
  top: 10%;
  left: 10%;
}

.background_sec {
  width: 100vw;
  height: 586px; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 1;
}
.username_handle {
  font-family: "Wittgenstein", sans-serif;
  font-style: italic;
  font-size: 18px;
}
.background_third {
  width: 100vw;
  height: 1800px; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  overflow: hidden;
}

.background_cpp {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image_bg_lingkaran {
  width: 550px;
  height: 550px;
  position: absolute;
}

.image_bg_lingkaran_wulan {
  top: 980px;
  width: 550px;
  height: 550px;
  position: absolute;
}

.image_frame_lingkaran {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 322px;
  height: auto;
  z-index: 3;
}

.image_frame_lingkaran_wulan {
  top: 1020px;
   left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 322px;
  height: auto;
  position: absolute;
  z-index: 3;
}
.bunga_bawah_frame {
  position: absolute;
  z-index: 100;
  top :550px;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 322px;
  display: flex;
  flex-direction: row;
  gap: 200px;
}
.bunga_bawah_frame_wulan {
  position: absolute;
  z-index: 100;
  transform: translateX(-50%);
  top: 1350px;

  display: flex;
  flex-direction: row;
  gap: 200px;
}

.bunga_ke_bawah_frame_wulan {
  position: absolute;
  z-index: 1;
  top: 530px;
  display: flex;
  flex-direction: row;
  gap: 200px;
}
.bunga_ke_bawah_frame_diaz {
  position: absolute;
  z-index: 2;
  top: 1330px;
  display: flex;
  flex-direction: row;
  gap: 200px;
}
.cpp_photo {
  position: absolute;
  top: 190px;
   transform: translate(-50%, -50%);
 width: 80vw;
  max-width: 231px;
  height: auto;
  z-index: 2;
  margin-top: 120px; /* optional, but may be redundant now */
}

.cpw_photo {
  position: absolute;
  top: 990px;
   transform: translate(-50%, -50%);
 width: 80vw;
  max-width: 231px;
  height: auto;
  z-index: 2;
  margin-top: 120px; /* same here */
}

.kupu_kupu_atas {
  position: absolute;
  z-index: 100;
  width: 80px;
  height: auto;
  top: 250px;
  left: 20%;
  transform: translateX(-50%);
}

.kupu_bawah {
  position: absolute;
  z-index: 100;
  width: 80px;
  height: auto;
  top: 490px;
  left: calc(50% + 60px);
  transform: translateX(-50%);
}

.kupu_kupu_atas_wulan {
  position: absolute;
  z-index: 100;
  width: 80px;
  height: auto;
  top: 1050px;
  left: 20%;
  transform: translateX(-50%);
}

.kupu_bawah_wulan {
  position: absolute;
  z-index: 100;
  width: 80px;
  height: auto;
  top: 1260px;
  left: calc(50% + 60px);
  transform: translateX(-50%);
}

.txt_wedding_of {
  margin-top: 32px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
}

.wayang_wulan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 220px; /* same as groom */
}

.wayang_left_wulan,
.wayang_right_wulan {
  width: 117px;
  height: 179px;
}

.wayang {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 300px;
}

.wayang_left {
  width: 117px;
  height: 179px;
}

.wayang_right {
  width: 117px;
  height: 179px;
}

.name_diaz {
padding-top: clamp(80px, 10vw, 170px);
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  line-height: 1;
}

.name {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
margin-top: clamp(80px, 10vw, 170px);
  line-height: 1;
}

.title_name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  color: #623b48;
  margin: 0;
  text-align: center;
}

.instagram {
  display: flex;
  align-items: center;
  color: #623b48;

  gap: 8px; /* ⬅️ spacing between icon and text */
  text-decoration: none;
  color: #623b48;
  cursor: pointer;
}

.instagram_logo {
  width: 30px;
  height: 30px;
  object-fit: contain; /* ⬅️ ensures it doesn't stretch */
}

.username_handle {
  font-size: 16px; /* adjust if needed */
  font-weight: bold;
  margin: 0; /* removes default h3 spacing */
  line-height: 1; /* helps vertical alignment */
}

.instagram:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}

.instagram_logo:hover {
  opacity: 0.8;
}

.instagram_logo {
  width: 30px;
  height: 30px;
}
.instagram:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}
.instagram_logo:hover {
  opacity: 0.8;
}

h3 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #623b48;
  margin: 0;
  text-align: center;
}

.background_cpw {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  margin-top: 100px;
}


.background_fourth {
  width: 412px;
  height: 1200px; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  padding-top: 36px;
}

.desc_text_time {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  color: #79565b;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  z-index: 99;
  line-height: 1;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.txt_title {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  text-align: center;
  line-height: 1;
  margin: 0;
}

.background_time {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  margin-top: 20px;
}

.image_bg_time {
  width: 420px;
  height: 411px;
  position: absolute;
  z-index: 4;
}

.image_frame_time {
  width: 276px;
  height: 459px;
  position: absolute;
  z-index: 3;
}

.time {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  margin-top: 120px;
}

.count {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  text-align: center;
  line-height: 1;
  margin: 0;
}

.count_time {
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: #79565b;
  text-align: center;
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
}

.add_invitation_button {
  padding: 10px 20px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  background-color: #4f0a1c;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.gate_time {
  width: 100vw;
  height: 579px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.akad_frame {
  display: flex;
}

.left_time {
  width: 150px;
  height: 491px;
  z-index: 2;
  margin-top: 200px;
  left: -40px;
  position: absolute;
}

.right_time {
  width: 143px;
  height: 462px;
  z-index: 2;
  margin-top: 200px;
  position: absolute;
  right: -20px;
}

.akad_frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data_time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: absolute;
}

.logo_time {
  width: 80px;
  height: 80px;
}

.time_title {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  line-height: 1;
  margin: 0;
}

.time_time {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #623b48;
  line-height: 1;
  margin: 0;
  margin-top: 30px;
}

.place_time {
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  color: #623b48;
  line-height: 1;
  margin: 0;
  margin-top: 17px;
  text-align: center;
}

.address_time {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 17px;
  color: #623b48;
  line-height: 1;
  text-align: center;
  margin-top: 17px;
}

.resepsi_frame {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.background_fifth {
  width: 100vw;
  height: 990px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 600px;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.background_qr {
  padding-top: 32px;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.title_qr {
  padding-top: 32px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  margin: 0;
  line-height: 1;
  text-align: center;
}

.qr_code {
  width: 314px;
  height: 314px;
  margin-top: 20px;
}

.desc_qr {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: #79565b;
  text-align: center;
  width: 308px;
  z-index: 99;
  margin-top: 20px;
}

.background_story {
  width: 100vw;
  height: 90vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  overflow: hidden;
}

.title_story {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: #623b48;
  margin: 0;
  line-height: 1;
  text-align: center;
  margin-top: 100px;
  z-index: 6;
}

.card_bottom {
  width: 360px;
  height: 245px;
  margin-top: 32px;
  background-color: #e9ddbb;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel_story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_card_story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px !important;
  height: 245px;
  border-radius: 25px;
}

.desc_year {
  text-align: center;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #623b48;
  margin: 0;
  line-height: 1;
}

.desc_story {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  color: #79565b;
  text-align: center;
  width: 320px;
  z-index: 99;
}

.bungataskiri {
  position: absolute;
  z-index: 5;
  height: 165px;
  width: 150px;
  left: 0;
}

.bungaataskanan {
  position: absolute;
  z-index: 5;
  height: 165px;
  width: 150px;
  right: 0;
  top: 0;
}

.bgstory {
  position: absolute;
  height: 431px;
  width: 100vw;
  bottom: 0;
}

.background_potrait {
  width: 100vw;
  height: fit-content; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.thumbnail-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel .slide img {
  border-radius: 25px;
  width: 25% !important;
  height: 100% !important;
}

.carousel .thumb {
  border: 0 !important;
  border-radius: 25px;
  height: 129px;
  width: 99px;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.carousel .thumb img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.txt_potrait {
  margin-top: 32px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
}

.carousel .control-dots {
  display: none; /* optional: hides dots if you only want thumbnails */
}

.carousel .thumbs {
  justify-content: center;
  width: 100% !important;
}
.carousel .thumbs-wrapper {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
  width: 100% !important;
}

/* Prevent thumbnails from wrapping */
.carousel .thumbs {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
}

/* Optional: Hide scrollbar */
.carousel .thumbs-wrapper::-webkit-scrollbar {
  display: none;
}
.carousel .thumbs-wrapper {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.background_gift {
  width: 100vw;
  height: 55vh; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  padding-top: 32px;
}

.title_gift {
  margin-top: 15px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
}

.desc_gift {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  width: 308px;
  color: #79565b;
  z-index: 99;
  margin-top: 10px;
}
.desc_grooms_brides {
   line-height: 1.6;
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: #79565b;
  text-align: center;
  width: 308px;
  z-index: 99;
}

.bank_first {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  width: 304px;
  height: 73px;
  margin-top: 35px;
  background-color: #e9ddbb;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 7px;
  padding-left: 9px;
  padding-right: 9px;
  align-items: center;
  z-index: 10000;
}

.bank_second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 304px;
  height: 73px;
  background-color: #e9ddbb;
  margin-top: 13px;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 7px;
  padding-left: 9px;
  padding-right: 9px;
  z-index: 10000;
}

.logo {
  width: 51px;
  height: 36px;
  margin-bottom: 20px;
}

.bank_text {
  font-family: "Cormorant Garamond", serif;
  font-size: 12px;
  color: #79565b;
  text-align: center;
  width: 308px;
  z-index: 99;
  font-weight: bold;
  font-style: italic;
  z-index: 10000;
}

.button_copy {
  width: 101px;
  height: 25px;
  background-color: #4f0a1c;
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 10px;
  border-radius: 25px;
  padding: 2px 10px;
  display: flex;

  align-items: center;
  justify-content: center;
  white-space: nowrap; /* 🔒 menjaga agar teks 1 baris */
  overflow: hidden; /* 🔒 hindari overflow */
  text-overflow: ellipsis; /* 🔒 tampilkan ... jika terlalu panjang */
  cursor: pointer; /* pointer saat hover */
  transition: transform 0.2s, background-color 0.2s;
}

.button_copy:hover {
  background-color: #4f0a1c; /* tetap, atau sesuaikan kalau ingin lebih terang */
  transform: scale(1.05); /* efek membesar */
}

.bunga_gift {
  position: absolute;
  z-index: 7;
  height: 236px;
  width: 85px;
  top: 40%;
  left: 0;
}

.background_filter {
  padding-top: 20px;
  width: 100vw;
  height: fit-content; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  padding-bottom: 20px;
}

.title_filter {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #623b48;
  z-index: 3;
}

.desc_filter {
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  color: #79565b;
  font-style: italic;
  text-align: center;
  padding-top: 20px;
 line-height: 1.6;
  padding-bottom: 40px;
  width: 308px;

  z-index: 99;
}

.img_filter {
  width: 294px;
  height: 492px;
  z-index: 3;
}

.filter_link {
  display: flex;
  flex-direction: column; /* atau row jika horizontal */
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.filter_link:hover .img_filter {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.filter_link:hover .filter_button {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.filter_button {
  width: 120px;
  height: 30px;
  background-color: #4f0a1c;
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 14px;
  border-radius: 25px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  z-index: 3;
  cursor: pointer;
}
.filter_button:hover {
  background-color: #4f0a1c; /* tetap sama */
  transform: scale(1.05); /* efek membesar sedikit */
}

.bgfilter {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 50%;
}

.bungafilter {
  position: absolute;
  z-index: 1;
  height: 176px;
  width: 120px;
  top: 65%;
  right: 0;
}

.background_wish {
  padding-top: 32px;
  width: 100vw;
  height: fit-content; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.title_wish {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #623b48;
  z-index: 3;
  text-align: center;
}

.input_wish {
  width: 275px;
  height: 33px;
  background-color: #fffbf0;
  border-radius: 15px;
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: #79565b;
  z-index: 1000;
  border: 0;
  text-align: center;
}

.button_send {
  width: 275px;
  height: 33px;
  background-color: #e9ddbb;
  border-radius: 15px;
  border-radius: 15px;
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: #623b48;
  margin-top: 24px;
  margin-bottom: 31px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.button_send:hover {
  background-color: #e9ddbd;
  transform: scale(1.05);
}
.wish_item {
  width: 275px;
  height: fit-content;
  border: 1px solid black; /* 👈 this sets width, style, and color */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}

.name_wish {
  font-size: 13px;
  font-family: "Cormorant Garamond", serif;
  color: #79565b;
  font-weight: 700;
  z-index: 3;
}

.time_wish {
  font-size: 10px;
  font-family: "Cormorant Garamond", serif;
  color: #79565b;
  font-weight: 400;
  z-index: 3;
}

.wish {
  font-size: 13px;
  font-family: "Cormorant Garamond", serif;
  color: #79565b;
  font-weight: 400;
  z-index: 3;
}

.wish_list {
  height: 500px;
  overflow-y: scroll;
}

.text_finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 100;
  align-items: center;
  margin-bottom: 100px;
}

.title_finish {
  font-size: 18px;
  font-family: "Cormorant Garamond", serif;
  color: #513738;
  font-weight: 500;
  z-index: 100;
  text-align: center;
}

.name_finish {
  font-size: 48px;
  font-family: "Alex Brush", cursive;
  color: #513738;
  font-weight: 500;
  z-index: 100;
  margin-top: 12px;
  text-align: center;
}

.img_logo_finish {
  width: 44px;
  height: 48px;
  margin-top: 12px;
  z-index: 100;
}

.desc_finish {
  font-weight: 20px;
  font-family: "Cormorant Garamond", serif;
  color: #513738;
  font-weight: 700;
  z-index: 100;
  text-align: center;
}

.img_mountain_finish {
  position: absolute;
  z-index: 2;
  height: 522px;
  width: 782px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 50%;
}

.img_bunga3_finish {
  position: absolute;
  z-index: 3;
  height: 313px;
  width: 180px;
  top: 40%;
  left: 0%;
  transform: translateX(-50%);
  opacity: 70%;
}

.img_bungapink_kanan_finish {
  position: absolute;
  z-index: 1;
  height: 347px;
  width: 200px;
  top: 40%;
  right: -10%;
  opacity: 70%;
}

.audio-player {
  position: absolute;
  bottom: 20px; /* distance from bottom of screen */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001; /* ensure it stays above other elements */
  padding: 10px;
  border-radius: 15px;
  background: transparent;
  width: 100vw;
}

.play-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.play-button img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.play-button:hover img {
  transform: scale(1.1);
}

.qr_code {
  margin: 20px auto;
  display: block;
}

.download_button {
  position: relative; /* or keep your existing position */
  z-index: 10;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  background-color: #4f0a1c;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.download_button:hover {
  background-color: #513738;
  transform: scale(1.05); /* efek membesar sedikit */
}

.background_footage {
  width: 100vw;
  height: fit-content; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 1;
  padding-bottom: 100px;
}

.img_footage {
  width: 355px;
  height: 212px;
}

.bungaataskanan_head {
  position: absolute !important;
  z-index: 5 !important;
  height: 165px !important;
  width: 150px !important;
  right: 0 !important;
  top: 0 !important;
}

.bungataskiri_head {
  position: absolute;
  z-index: 5;
  height: 165px;
  width: 150px;
  left: 0;
  top: 0;
}

.wedding-footer {
  width: 100vw;
  height: fit-content; /* Ensures full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  pointer-events: auto;
  z-index: 999;
  overflow: hidden;
  padding-top: 10px;
}
.decor-layer,
.background-overlay,
.non-clickable-layer {
  pointer-events: none !important;
}

.section_footer {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
  align-items: baseline;
}

.footer_h6 {
  font-family: "Wittgenstein";
  font-style: italic;
  font-size: 12px;
  text-align: center;
  z-index: 999;
  position: relative;
  color: #513738;
}

.footer_h5 {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-size: 10px;
  text-align: center;
  z-index: 999;
  position: relative;
  color: #513738;
}
@media (max-width: 429px) {
 .background_fourth {
       max-width: 100vw;
    width: 100vw;

  }

  .background_fifth {
     max-width: 100vw;
    width: 100vw;
  }

}

@media (max-width: 401px) {
  .wedding-footer {
    max-width: 400px;
    width: 100vw;
  }
.image_bg_lingkaran,
  .image_bg_lingkaran_wulan {
    width: 450px;
    height: 450px;
  }

  .cpp_photo {
    top: 210px; /* or tweak as needed */
  }

  .cpw_photo {
    top: 1020px; /* or tweak as needed */
  }

  .image_frame_lingkaran {
    top: 250px; /* lower it slightly for spacing */
  }

  .image_frame_lingkaran_wulan {
    top: 1060px; /* lower it slightly for spacing */
  }
  .app-container {
    max-width: 400px;
    width: 100vw;
  }

  .audio-player {
    max-width: 400px;
    width: 100vw;
  }

  .background_sec {
    max-width: 400px;
    width: 100vw;
  }

  .background_third {
    max-width: 400px;
    width: 100vw;
  }


  .background_story {
    max-width: 400px;
    width: 100vw;
    height: fit-content;
    padding-bottom: 40px;
  }

  .background_fourth {
       max-width: 100vw;
    width: 100vw;

  }

  .background_fifth {
     max-width: 100vw;
    width: 100vw;
  }

  .gate_time {
    width: 400px;
    height: 520px;
    left: 0;
    right: 0;
  }

  .background_qr {
    width: 100vw;
    max-width: 400px;
    height: fit-content;
    padding-bottom: 40px;
  }

  .background_potrait {
    width: 100vw;
    max-width: 400px;
    height: fit-content;
  }

  .background_gift {
    width: 100vw;
    max-width: 400px;
    height: fit-content;
  }

  .bunga_gift {
    top: 50%;
  }

  .background_filter {
    width: 100vw;
    max-width: 400px;
    height: fit-content;
  }

  .background_wish {
    width: 100vw;
    max-width: 400px;
  }

  .background_footage {
    width: 100vw;
    max-width: 400px;
    height: fit-content;
  }

  .app-container-finish {
    width: 100vw;
    max-width: 400px;
    height: 100vh;
  }

  .guest-name {
    top: 55%;
  }

  .open-invite-btn {
    top: 70%;
  }

  .img_gate {
    position: absolute;
    z-index: 5;
    height: 579px;
    width: 481px;
    top: 5%;
    transform: translateX(-50%);
  }

  .img_mountain {
    position: absolute;
    z-index: 2;
    height: 522px;
    width: 782px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
  }

  .img_janur {
    position: absolute;
    z-index: 6;
    height: 404px;
    width: 397px;
    top: 14%;
    transform: translateX(-50%);
  }

  .img_logo {
    position: absolute;
    z-index: 1000;
    height: 34px;
    width: 32px;
    top: 16.5%;
    transform: translateX(-50%);
  }
  /* Make lightbox container semi-dark with blur */
  .yarl__container {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(2px); /* optional */
  }

  /* Make carousel background slightly darker if needed */
  .yarl__carousel {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .img_opened {
    position: absolute;
    z-index: 6;
    height: 400px;
    width: 280px;
    top: 33%;
    transform: translateX(-50%);
  }

  .bunga_kiri {
    z-index: 6;
  }

  .img_bunga3 {
    position: absolute;
    z-index: 3;
    height: 313px;
    width: 180px;
    top: 40%;
    left: 0%;
    transform: translateX(-50%);
  }

  .img_bunga2 {
    position: absolute;
    z-index: 4;
    height: 244px;
    width: 180px;
    top: 52%;
    left: 0%;
    transform: translateX(-50%);
  }

  .img_bunga4 {
    position: absolute;
    z-index: 4;
    height: 242px;
    width: 137px;
    top: 68%;
    left: 0%;
    transform: translateX(-50%);
  }

  .img_bunga1 {
    position: absolute;
    z-index: 5;
    height: 111px;
    width: 85px;
    top: 82%;
    left: 0%;
    transform: translateX(-50%);
  }

  .bunga_kanan {
    z-index: 6;
  }

  .img_bungapink_kanan {
    position: absolute;
    z-index: 1;
    height: 347px;
    width: 200px;
    top: 40%;
    right: -10%;
  }

  .img_pohonijo_kanan {
    position: absolute;
    z-index: 4;
    height: 244px;
    width: 180px;
    top: 52%;
    right: -10%;
  }

  .img_padikapas_kanan {
    position: absolute;
    z-index: 5;
    height: 244px;
    width: 137px;
    top: 68%;
    right: 0%;
  }

  .img_tanaman_kanan {
    position: absolute;
    z-index: 5;
    height: 122px;
    width: 77px;
    top: 72%;
    right: 10%;
  }

  .img_bungabawah_kanan {
    position: absolute;
    z-index: 5;
    height: 111px;
    width: 82px;
    top: 82%;
    right: 0%;
  }

  .img_merak {
    position: absolute;
    z-index: 7;
    height: 159px;
    width: 212px;
    top: 70%;
    left: 10%;
  }

  .img_kupu2 {
    position: absolute;
    z-index: 100;
    height: 48px;
    width: 61px;
    top: 40%;
    left: 10%;
    z-index: 7;
  }

  .img_kupu1 {
    position: absolute;
    z-index: 100;
    height: 61px;
    width: 59px;
    top: 50%;
    z-index: 7;
    right: 20%;
  }

  .title {
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    z-index: 1000;
    top: 27%;
    color: #513738;
  }

  .title-opened {
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    z-index: 1000;
    top: 26%;
    color: #513738;
  }
  .title-theweddingof-opened {
    position: absolute;
    font-family: "Wittgenstein";
    font-style: initial;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
    top: 22%;
    color: #513738;
  }

  .invite-wrapper {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* spacing between name and button */
    z-index: 1000;
  }

  .guest-name {
    font-family: "Wittgenstein";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #513738;
  }

 .open-invite-btn {
  width: 200px;
  height: 40px;
  font-family: "Wittgenstein";
  background-color: #4f0a1c;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  position: relative; /* or absolute if needed */
  z-index: 10; /* make sure it’s above any background elements */
}
  /* .bungataskiri {
    position: absolute;
    z-index: 5;
    height: 165px;
    width: 150px;
    left: 0;
    top: 0;
  } */
}

@media (min-width: 430px) {
  .wedding-footer {
    max-width: 430px;
    width: 100vw;
  }

  .app-container {
    max-width: 430px;
    width: 100vw;
  }

  .audio-player {
    max-width: 430px;
    width: 100vw;
  }

  .background_sec {
    max-width: 430px;
    width: 100vw;
  }

  .background_third {
    max-width: 430px;
    width: 100vw;
  }

  .background_story {
    max-width: 430px;
    width: 100vw;
    height: fit-content;
    padding-bottom: 40px;
  }

  .background_fourth {
    max-width: 430px;
    width: 100vw;
  }

  .background_fifth {
    max-width: 430px;
    width: 100vw;
  }

  .gate_time {
    width: 430px;
    height: 520px;
    left: 0;
    right: 0;
  }

  .background_qr {
    width: 100vw;
    max-width: 430px;
    height: fit-content;
    padding-bottom: 40px;
  }

  .background_potrait {
    width: 100vw;
    max-width: 430px;
    height: fit-content;
  }

  .background_gift {
    width: 100vw;
    max-width: 430px;
    height: fit-content;
  }

  .bunga_gift {
    top: 50%;
  }

  .background_filter {
    width: 100vw;
    max-width: 430px;
    height: fit-content;
  }

  .background_wish {
    width: 100vw;
    max-width: 430px;
  }

  .background_footage {
    width: 100vw;
    max-width: 430px;
    height: fit-content;
  }

  .app-container-finish {
    width: 100vw;
    max-width: 430px;
    height: 100vh;
  }

  .guest-name {
    top: 55%;
  }

  .open-invite-btn {
    top: 70%;
  }

  .img_gate {
    position: absolute;
    z-index: 5;
    height: 579px;
    width: 481px;
    top: 5%;
    transform: translateX(-50%);
  }

  .img_mountain {
    position: absolute;
    z-index: 2;
    height: 522px;
    width: 782px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
  }

  .img_janur {
    position: absolute;
    z-index: 6;
    height: 404px;
    width: 397px;
    top: 14%;
    transform: translateX(-50%);
  }

  .img_logo {
    position: absolute;
    z-index: 1000;
    height: 34px;
    width: 32px;
    top: 16.5%;
    transform: translateX(-50%);
  }
  /* Make lightbox container semi-dark with blur */
  .yarl__container {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(2px); /* optional */
  }

  /* Make carousel background slightly darker if needed */
  .yarl__carousel {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .img_opened {
    position: absolute;
    z-index: 6;
    height: 400px;
    width: 280px;
    top: 33%;
    transform: translateX(-50%);
  }

  .bunga_kiri {
    z-index: 6;
  }

  .img_bunga3 {
    position: absolute;
    z-index: 3;
    height: 313px;
    width: 180px;
    top: 40%;
    left: 0%;
    transform: translateX(-50%);
  }

  .img_bunga2 {
    position: absolute;
    z-index: 4;
    height: 244px;
    width: 180px;
    top: 52%;
    left: 0%;
    transform: translateX(-50%);
  }

  .img_bunga4 {
    position: absolute;
    z-index: 4;
    height: 242px;
    width: 137px;
    top: 68%;
    left: 0%;
    transform: translateX(-50%);
  }

  .img_bunga1 {
    position: absolute;
    z-index: 5;
    height: 111px;
    width: 85px;
    top: 82%;
    left: 0%;
    transform: translateX(-50%);
  }

  .bunga_kanan {
    z-index: 6;
  }

  .img_bungapink_kanan {
    position: absolute;
    z-index: 1;
    height: 347px;
    width: 200px;
    top: 40%;
    right: -10%;
  }

  .img_pohonijo_kanan {
    position: absolute;
    z-index: 4;
    height: 244px;
    width: 180px;
    top: 52%;
    right: -10%;
  }

  .img_padikapas_kanan {
    position: absolute;
    z-index: 5;
    height: 244px;
    width: 137px;
    top: 68%;
    right: 0%;
  }

  .img_tanaman_kanan {
    position: absolute;
    z-index: 5;
    height: 122px;
    width: 77px;
    top: 72%;
    right: 10%;
  }

  .img_bungabawah_kanan {
    position: absolute;
    z-index: 5;
    height: 111px;
    width: 82px;
    top: 82%;
    right: 0%;
  }

  .img_merak {
    position: absolute;
    z-index: 7;
    height: 159px;
    width: 212px;
    top: 68%;
    left: 10%;
  }

  .img_kupu2 {
    position: absolute;
    z-index: 100;
    height: 48px;
    width: 61px;
    top: 40%;
    left: 10%;
    z-index: 7;
  }

  .img_kupu1 {
    position: absolute;
    z-index: 100;
    height: 61px;
    width: 59px;
    top: 50%;
    z-index: 7;
    right: 20%;
  }

  .title {
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    z-index: 1000;
    top: 27%;
    color: #513738;
  }

  .title-opened {
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    z-index: 1000;
    top: 26%;
    color: #513738;
  }
  .title-theweddingof-opened {
    position: absolute;
    font-family: "Wittgenstein";
    font-style: initial;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
    top: 22%;
    color: #513738;
  }

  .invite-wrapper {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* spacing between name and button */
    z-index: 1000;
  }

  .guest-name {
    font-family: "Wittgenstein";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #513738;
  }

  .open-invite-btn {
    width: 200px;
    height: 40px;
    font-family: "Wittgenstein";
    background-color: #4f0a1c;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }

  /* .bungataskiri {
    position: absolute;
    z-index: 5;
    height: 165px;
    width: 150px;
    left: 0;
    top: 0;
  } */
}
